@import "../../constants.css";


.block {
    max-width: var(--max-width);
    padding: 4px 28px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    display: flex;
    gap: var(--margin-xxxxl)
}

.avatarWrapper {
    border-radius: 50%;
    width: 112px;
    height: 112px;
}

.avatarBlock {
    display: flex;
    flex-direction: column;
    gap: var(--margin-l);
}

.nameWrapper {
    display: flex;
    flex-direction: column;
}

.informationBlock {
    display: flex;
    flex-direction: row;
    width: 840px;
    height: 310px;
    gap: var(--margin-l)
}

.infoElem {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xxl);
}

.titleText {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
}

.infoTitle {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--neutral-color);
}

.infoText {
    font-family: var(--font);
    font-size: var(--font-size-m);
    border: none;
}

.infoText::placeholder {
    color: #1c1c1c;
}

.change {
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--colored-object-color);
}

.fioWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xxl);
}

.exit {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--discout-color);
}
