.profile_text {
    color: #008b5f;
}

.profile-page {
    position: absolute;
    width: 1000px;
    height: 1000px;

    background: #FFFFFF;
    border-radius: 10px;
}

.profile-header {
    display: flex;
    width: 549px;
    height: 70px;
    padding-left: 110px;
    padding-top: 1px;
}

.profile-header__footer-link {
    position: absolute;
    width: 250px;
    height: 50px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: rgba(64, 191, 255, 1);
}

.profile-header__footer-text {
    position: absolute;
    left: 250px;
    width: 250px;
    height: 50px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: rgba(64, 191, 255, 1);
}

.profile-header__item {
    margin-right: 100px;
}

.profile-body {
    width: 557px;
    height: 318px;
}

.profile-body__input-block {
    display: inline-block;
    width: 383px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 14px;

    border-radius: 10px;
    border: 0 none;

    font-family: Nunito;
    font-size: 16px;
    color: gray;
    background: rgba(223,222,222,1);
}

.profile-body__input-description {
    width: 100px;
    display: inline-block;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    align-items: center;
    letter-spacing: -0.02em;

    /* gray */

    color: #999999;
}

.profile-body__textarea-block {
    margin-left: 100px;
    background: #DFDEDE;
    opacity: 0.3;
    border-radius: 10px;
    resize: none;
}

.profile-body__text-delivery {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    align-items: center;
    letter-spacing: -0.02em;

    /* gray */

    color: #999999;

    margin-left: 100px;
}

.profile-body__user-avatar {
    margin-left: 100px;
    width: 184px;
    height: 184px;

    border-radius: 5px;
}