@import '../../constants.css';

.block {
    width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.body {
    display: flex;
    max-width: 60%;
    margin: auto;
    width: 100%;
}

.listWrapper {
    /*margin: auto;*/
}

.footer {
    display: flex;
    max-width: 60%;
    margin: auto;
    width: 100%;
    border-top: solid;
    border-color: var(--neutral-background-color);
    padding-top: var(--padding-m);
}
