@import '../../constants.css';

.block {
    width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.body {
    display: flex;
    max-width: 60%;
    margin: auto;
    width: 100%;
    flex-direction: column;
}

.footer {
    display: flex;
    max-width: 60%;
    margin: auto;
    width: 100%;
    border-top: solid;
    border-color: var(--neutral-background-color);
    padding-top: var(--padding-m);
}

.select {
    width: 226px;
    height: var(--height-xxxs);
}

.emptyText {
    font-family: var(--font);
    font-size: var(--font-size-xxl);
    font-weight: var(--bold-font);
    margin: auto;
    width: 50%;
}
