@import '../../../constants.css';

.block {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxs);
}

.buttonWrapper {
    width: var(--height-xxxs);
    height: var(--height-xxxs);
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--standart-border-radius);
    cursor: pointer;
    font-family: var(--font);
    font-size: var(--font-size-s);
}

.currentPage {
    background: var(--colored-object-color);
    color: white;
}

.commonPage {
    background: white;
    color: var(--colored-object-color);
}

.buttonBigWrapper {
    width: var(--width-xs);
    height: var(--height-xxxs);
}

.bigButton {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--big-border-radius);
    cursor: pointer;
    background: var(--neutral-background-color);
    color: var(--colored-object-color);
    font-family: var(--font);
    font-size: var(--font-size-s);
    font-weight: var(--bold-font);
}
