@import '../../../constants';

.block {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxs);
}

.buttonWrapper {
    width: var(--height-xxxs);
    height: var(--height-xxxs);
}

.buttonBigWrapper {
    width: var(--width-xs);
    height: var(--height-xxxs);
}
