@import '../../../constants.scss';

.block {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxs);
}

.buttonWrapper {
    width: var(--height-xxxs);
    height: var(--height-xxxs);
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--standart-border-radius);
    cursor: pointer;
    font-family: var(--font);
    font-size: var(--font-size-s);
}

.currentPage {
    background: var(--colored-object-color);
    color: white;
    outline: none;
}

.currentPage:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.commonPage {
    background: white;
    color: var(--colored-object-color);
    outline: none;
}

.commonPage:hover {
    background: var(--neutral-background-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.buttonBigWrapper {
    width: var(--width-xs);
    height: var(--height-xxxs);
}

.bigButton {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--big-border-radius);
    cursor: pointer;
    background: var(--neutral-background-color);
    color: var(--colored-object-color);
    font-family: var(--font);
    font-size: var(--font-size-s);
    font-weight: var(--bold-font);
    outline: none;
}

.bigButton:hover {
    background: var(--dark-neutral-background-color);
    color: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}
