@import '../../../constants.css';

.block {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxs);
}

.buttonWrapper {
    width: var(--height-xxxs);
    height: var(--height-xxxs);
}

.button {
    width: 100%;
    height: 100%;
    font-family: var(--font);
    font-size: var(--font-size-s);
}

.buttonBigWrapper {
    width: var(--width-xs);
    height: var(--height-xxxs);
}

.bigButton {
    width: 100%;
    height: 100%;
    border: none;
    color: var(--colored-object-color);
    font-family: var(--font);
    font-size: var(--font-size-s);
    font-weight: var(--bold-font);
}


