<div class="pagination-wrapper">
    <div class="pagination-block">
        {{#each buttons}}
            <div class="pagination-block_button">
                <button class="button button_pagination {{this.name}}" type="">
                    <span class="text">{{this.value}}</span>
                </button>
            </div>
        {{/each}}
    </div>
</div>
