@import '../../constants';

.block {
    display: flex;
    width: 76%;
    padding: $padding-xs $padding-l;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto $margin-xxl;
    gap: $gap-xs;
    margin-top: $margin-l;
    margin-bottom: 24px;
}

.wrapper {
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    width: 74.69%;
    gap: $gap-xl;
}

.categoriesBlock {
    display: flex;
    flex-direction: row;
    gap: $gap-xxs;
}

.mainInformation {
    display: flex;
    flex-direction: column;
}

.discountBlock {
    border-radius: $standard-border-radius;
}

.discountBadge {
    height: $height-xxxxs;
    width: $width-xxs;
    background: $discount-color;
    border-radius: var(--lower-border-radius);
    display: flex;
}

.discountText {
    margin: auto;
}

.priceBlock {
    display: flex;
    width: 100%;
}

.priceWrapper {
    display: flex;
    flex-direction: row;
    margin: $margin-l auto auto;
    width: 86%;
}

.discountPrice {
    margin-left: $margin-xxs;
}

.price {
    margin-left: $margin-xxs;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.images {
    display: flex;
    flex-direction: column;
    gap: $margin-xs;
}

.imagesBlock {
    display: flex;
    flex-direction: row;
    gap: $gap-s;
}

.imageWrapper {
    cursor: pointer;
}

.mainImage {
    display: flex;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.buyMenu {
    border: 1px solid $neutral-light-color;
    border-radius: $standard-border-radius;
    width: 100%;
    height: $width-xl;
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperWrapper {
    padding-top: $margin-s;
    display: flex;
    flex-direction: row;
    border-top: 1px solid;
    border-color: $neutral-light-color;
    margin-top: $margin-l;
}

.buttons {
    display: flex;
    align-items: center;
    width: 100%;
}

.priceWithoutDiscount {
    font-size: $font-size-xxl;
    font-weight: $bold;
}

.reviewListText {
    margin-top: $margin-l;
    font-size: $font-size-l;
    font-weight: $bold;
}

.reviewList {
    font-size: $font-size-s;
}

.reviewBlock {
    margin-top: $margin-m;
}

.cartButtonWrapper {
    height: $height-s;
    width: 86%;
    margin: auto;
}

.reviewButtonWrapper {
    height: $height-s;
    width: 86%;
    margin: auto;
}


.linkWrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.reviewMenu {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    //margin-top: $margin-xxxl;
}

.starsWrapper {
    width: 120px;
}

.stars {
    overflow: hidden;
    height: 24px;
    background:  url("https://duckluckmarket.xyz/svg/empty_star.svg");
    background-size: 24px 24px;
    width: 120px;
}

.colorStars {
    background: url("https://duckluckmarket.xyz/svg/star.svg");
    height: 24px;
    background-size: 24px 24px;
    background-repeat: repeat-x;
}

.recommendationsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviewsWrapper {
    display: block;
}

.reviewsBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}

.zeroReviews {
    font-family: $font-family;
    font-size: $font-size-s;
}

.reviewsBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.select {
    width: 226px;
    height: $height-xxxs;
    border-radius: 6px;
    border: 2px solid $select-color;
    font-family: $font-family;
    cursor: pointer;
}

.select:hover {
    border-color: $select-active-color;
}

.select:focus {
    outline: 0;
}

.propertiesBlock {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
}

.propertiesBlockRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.propertiesBlockValueWrapper {
    min-width: 30%;
}

.property {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
}

.propertiesMain {
    display: flex;
}

.properties {
    display: flex;
    flex-direction: column;
    gap: $margin-xl;
}

@media screen and (max-width: $max-width-xl) {
    .block {
        width: 100%;
    }

    .wrapperWrapper {
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }

    .menu {
        padding-top: $padding-m;
        width: 100%;
    }

    .mainImage {
        width: 100%;
    }

    .reviewButtonWrapper {
        margin-top: $margin-l;
    }
}

@media screen and (max-width: $max-width-m) {
    .imagesBlock {
        flex-direction: column;
    }

    .images {
        flex-direction: row;
    }

    .preview {
        width: 100%;
        height: 75%;
    }

    .aboutProduct {
        order: 0;
    }

    .reviewMenu {
        order: 1;
    }

    .buyMenu {
        order: 2;
    }
}

@media screen and (max-width: $max-width-xl) {
    .reviewButton {
        margin-top: $margin-m;
    }

}

@media screen and (max-width: $max-width-xs) {
    .preview {
        height: 50%;
    }
}
