@import '../../constants';

.block {
  width: 336px;
  display: flex;
  flex-direction: column;
  gap: $gap-s;
}

.header {
  height: 43px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px;
  border-color: $neutral-color;
}

.starsWrapper {
  width: 120px;
}

.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $gap-s;
}

.color {
  background: url("https://duckluckmarket.hb.bizmrg.com/svg/star.svg");
  height: 24px;
  background-size: 28px 24px;
  background-position-x: -2px;
  background-repeat: repeat-x;
  width: 94.1176%;
}

.countLine {
  min-width: 232px;
  margin-top: auto;
  margin-bottom: auto;
}

.countColor {
  overflow: hidden;
  height: 6px;
  border-radius: 5px;
  background: #d2d9df;
  width: 226px;
}

.colorLine {
  background-color: #ff8970;
  height: 6px;
}

.starTitle {
  min-width: 55px;
  max-width: 55px;
}

.starCount {
  min-width: 35px;
  max-width: 35px;
  align-self: end;
}

.starsInfo {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  overflow: hidden;
}

.stars {
  overflow: hidden;
  height: 24px;
  background:  url("https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg");
  background-size: 24px 24px;
  width: 120px;
}

.colorStars {
  background: url("https://duckluckmarket.hb.bizmrg.com/svg/star.svg");
  height: 24px;
  background-size: 24px 24px;
  background-repeat: repeat-x;
}

@media screen and (max-width: $max-width-m) {
  .block {
    width: 305px;
  }

  .countLine, .countColor {
    min-width: 195px;
    max-width: 195px;
  }
}
