@import '../../constants';

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $margin-xl;
}

.avatarWrapper {
  width: 48px;
  height: 48px;
}

.nameWrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.reviewHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: $gap-s;
  justify-content: space-between;
}

.meta {
  display: flex;
  flex-direction: row;
  gap: $gap-s;
}

.rating {
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  margin-top: auto;
  margin-bottom: auto;
  font-family: $font-family;
  font-size: $font-size-s;
  color: $neutral-color;
}

.name {
  font-family: $font-family;
  font-size: $font-size-m;
  font-weight: $bold;
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
  gap: $gap-s;
}

.infoRow {
  display: flex;
  flex-direction: column;
  gap: $gap-xxs;
}

.infoTitle {
  font-family: $font-family;
  font-size: $font-size-s;
  font-weight: $bold;
}

.infoText {
  font-family: $font-family;
  font-size: $font-size-s;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-color: $colored-object-color;
  display: flex;
}

.avatarText {
  font-family: $font-family;
  font-size: $font-size-l;
  font-weight: $bold;
  color: $light-color;
  margin: auto;
}

@media screen and (max-width: $max-width-xs) {
  .reviewHead {
    flex-direction: column;
  }

  .body {
    margin-top: $margin-s;
    margin-left: 0;
  }
}
