@import '../../constants.css';

.block {
    display: flex;
    max-width: var(--max-width);
    padding: 4px 28px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.categoriesBlock {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.category {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--colored-object-color);
}

.mainInformation {
    display: flex;
    flex-direction: column;
}

.name {
    font-family: var(--font);
    font-size: var(--font-size-xl);
    font-weight: var(--bold-font);
}

.discountBlock {
    border-radius: 3px;
}

.discountBadge {
    height: var(--height-s);
    width: var(--width-m);
    background: var(--discout-color);
    border-radius: var(--lower-border-radius);
    display: flex;
}

.discountText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--light-color);
    margin: auto;
}

.priceBlock {
    display: flex;
    flex-direction: row;
}

.discountPrice {
    font-family: var(--font);
    font-size: var(--font-size-xxl);
    font-weight: var(--bold-font);
    color: var(--discout-color);
    margin-left: var(--margin-s);
}

.price {
    font-family: var(--font);
    font-size: var(--font-size-xl);
    margin-left: var(--margin-s);
    position: relative;
}

.images {
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

.imagesBlock {
    display: flex;
    flex-direction: row;
}

.imageWrapper {
    width: var(--img-size-xl);
    height: var(--img-size-xl);
}

.mainImage {
    width: var(--img-size-xxxl);
    height: var(--img-size-xxxl);
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
}
