@import '../../constants.scss';

.block {
    display: flex;
    width: 76%;
    padding: var(--padding-xs) var(--padding-l);
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto var(--margin-xxl);
}

.wrapper {
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    width: 74.69%;
}

.categoriesBlock {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxs);
}

.category {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--colored-object-color);
}

.mainInformation {
    display: flex;
    flex-direction: column;
}

.name {
    font-family: var(--font);
    font-size: var(--font-size-xl);
    font-weight: var(--bold-font);
}

.discountBlock {
    border-radius: var(--standart-border-radius);
}

.discountBadge {
    height: var(--height-xxxxs);
    width: var(--width-xxs);
    background: var(--discout-color);
    border-radius: var(--lower-border-radius);
    display: flex;
}

.discountText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--light-color);
    margin: auto;
}

.priceBlock {
    display: flex;
    width: 100%;
}

.priceWrapper {
    display: flex;
    flex-direction: row;
    margin: var(--margin-l) auto auto;
    width: 86%;
}

.discountPrice {
    font-family: var(--font);
    font-size: var(--font-size-xxl);
    font-weight: var(--bold-font);
    color: var(--discout-color);
    margin-left: var(--margin-xxs);
}

.price {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
    margin-left: var(--margin-xxs);
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.images {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs);
}

.imagesBlock {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
}

.imageWrapper {
    width: var(--img-size-m);
    height: var(--img-size-m);
    cursor: pointer;
}

.mainImage {
    width: var(--img-size-xl);
    height: var(--img-size-xl);
    display: flex;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.buyMenu {
    border: 1px solid;
    border-color: var(--neutral-light-color);
    border-radius: var(--standart-border-radius);
    width: 100%;
    height: var(--width-xl);
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.description {
    display: flex;
    flex-direction: column;
    padding-top: var(--margin-l);
    gap: var(--gap-xs);
}

.title {
    font-family: var(--font);
    font-size: var(--font-size-xl);
    font-weight: var(--bold-font);
}

.descriptionText {
    font-family: var(--font);
    font-size: var(--font-size-m);
}

.wrapperWrapper {
    padding-top: var(--margin-s);
    display: flex;
    flex-direction: row;
    border-top: 1px solid;
    border-color: var(--neutral-light-color);
    margin-top: var(--margin-l);
}

.inCartButton {
    height: var(--height-s);
    width: 86%;
    background: var(--order-color);
    border-radius: var(--standart-border-radius);
    border: none;
    margin: auto;
    cursor: pointer;
    outline: none;
}

.inCartButton:hover {
    background: var(--dark-order-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.notInCartButton {
    height: var(--height-s);
    width: 86%;
    background: var(--colored-object-color);
    border-radius: var(--standart-border-radius);
    border: none;
    margin: auto;
    cursor: pointer;
    outline: none;
}

.notInCartButton:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.buttonText {
    color: var(--light-color);
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--bold-font);
}

.buttons {
    display: flex;
    align-items: center;
    width: 100%;
}

.priceWithoutDiscount {
    font-size: var(--font-size-xxl);
    font-weight: var(--bold-font);
}

.reviewButton {
    height: var(--height-s);
    width: 86%;
    background: var(--colored-object-color);
    border-radius: var(--standart-border-radius);
    border: none;
    margin: auto;
    cursor: pointer;
    outline: none;
}

.reviewButton:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}


.reviewListText {
    margin-top: 25px;
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
}

.reviewList {
    font-size: var(--font-size-s);
}


.preview {
    height: 100%;
}

.category_path {
    color: var(--colored-object-color);
}

.reviewListText {
    margin-top: 25px;
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
}

.reviewList {
    font-size: var(--font-size-s);
}

.reviewBlock {
    margin-top: 20px;
}

@media screen and (max-width: $max-width-xl) {
    .block {
        width: 100%;
    }

    .wrapperWrapper {
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }

    .menu {
        padding-top: var(--padding-m);
        width: 100%;
    }

    .mainImage {
        width: 100%;
    }
}

@media screen and (max-width: $max-width-m) {
    .imagesBlock {
        flex-direction: column;
    }

    .images {
        flex-direction: row;
    }

    .preview {
        width: 100%;
        height: 75%;
    }
}

@media screen and (max-width: $max-width-xl) {
    .reviewButton {
        margin-top: var(--margin-m);
    }

}

@media screen and (max-width: $max-width-xs) {
    .preview {
        height: 50%;
    }
}
