@import "../../../constants.scss";

.menuImgS {
    size: var(--img-size-xs);
}

.menuImgL {
    size: var(--img-size-s);
}

.imgXL {
    height: 100%;
}

.imgXXL {
    height: 100%;
    margin: auto;
}
