@import "../../../constants";

%img-shared {
  object-fit: contain;
}

.img {
  @extend %img-shared;
}

.review {
  @extend %img-shared;
  height: var(--width-xs);
  width: var(--width-xs);
}

.profileAvatar {
  @extend %img-shared;
  width: var(--width-s);
  height: var(--width-s);
  cursor: pointer;
  border-radius: 50%;
}

.star {
  @extend %img-shared;
  height: var(--img-size-s);
  width: var(--img-size-s);
}

.productMain {
  @extend %img-shared;
  width: var(--img-size-xl);
  height: var(--img-size-xl);
}

.productCommon {
  @extend %img-shared;
  width: var(--img-size-m);
  height: var(--img-size-m);
}

.smallStar {
  @extend %img-shared;
  height: var(--img-size-xs);
  width: var(--img-size-xs);
}

.reviewAvatar {
  @extend %img-shared;
  width: var(--img-size-m);
  height: var(--img-size-m);
  border-radius: 50%;
}

.logo {
  @extend %img-shared;
  height: 40px;
  width: 128px;
}

.headerMenu {
  @extend %img-shared;
  height: var(--img-size-s);
  width: var(--img-size-s);
}

.searchArea {
  @extend %img-shared;
  height: var(--img-size-xs);
  width: var(--img-size-xs);
}

.productPreview {
  @extend %img-shared;
  width: var(--img-size-l);
  height: var(--img-size-l);
}
