@import "../../constants";

.main {
    display: flex;
    flex-direction: column;
}

.body {
    padding: $padding-xs $padding-l;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76%;
}

.logoBlock {
    margin-right: $margin-xl;
    cursor: pointer;
}

.catalogBlock {
    height: 40px;
    min-width: 120px;
    margin-right: 16px;
}


.catalogButtonBody {
    display: inline-flex;
    align-items: center;
    gap: $button-content-gap;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $font-size-s;
}

.searchBlock {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: $standard-border-radius;
    border: $standard-border;
    margin-right: $margin-l;
}

.searchForm {
    display: flex;
}

.searchAreaBlock {
    background: $light-color;
    display: inline-flex;
    align-items: center;
    color: $neutral-color;
    border-radius: $standard-border-radius;
    margin: $margin-xxxs;
}

.searchAreaText {
    margin-left: $margin-xs;
    margin-right: $margin-xs;
}

.searchAreaPointer {
    margin-right: $margin-xxs;
}

.searchButtonBlock {
    display: flex;
    width: 76px;
    height: 40px;
}

.searchInputBlock {
    flex: 1;
}

.logoWrapper {
    justify-content: flex-start;
    align-items: center;
    height: $height-xxs;
    width: $width-s;
}

.menuItem {
    margin-right: $margin-s;
    cursor: pointer;
    height: $height-s;
    width: $width-xxs;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
    box-sizing: border-box;
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.menuItem:hover {
    color: $colored-object-color;
}

.catalogList {
    width: 76%;
    padding: $padding-xs $padding-m;
    margin: 0 auto;
    font-family: $font-family;
    align-items: center;
    justify-content: space-between;
    z-index: $catalog-z-index;
    position: absolute;
    left: 10%;
    overflow: scroll;
}

.category {
    height: 40px;
    cursor: pointer;
    display: flex;
}

.subcategory {
    margin-top: $margin-xxs;
    margin-bottom: $margin-xxs;
}

.subsubcategory {
    margin-top: $margin-xxs;
    margin-bottom: $margin-xxs;
}

.searchImgWrapper {
    margin: auto;
}


.catalogListCategories {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.catalogListBody {
    display: flex;
    flex-direction: row;
    width: 97%;
}

.catalogListSubcategories {
    column-count: 4;
    column-gap: $columns-gap;
    margin-right: $margin-l;
    margin-left: $margin-l;
    width: 100%;
}

.catalogItemWrapper {
    display: inline-block;
    width: 100%;
    line-height: $standart-line-height;
    box-sizing: border-box;
    margin-bottom: $margin-xxl;
}

.catalogItemBody {
    display: flex;
    flex-direction: column;
}

.menuItemCounter {
    text-align: center;
    width: $width-xxxxs;
    border-radius: 90%;
    background-color: $discount-color;
}

.searchAreaPointerCsv {
    margin-top: 5px;
}

.catalogWrapper {
    width: 100%;
    background-color: $catalog-color;
    border-top: solid 1px $dark-neutral-background-color;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.catalogListSubcategoriesWrapper {
    //margin-left: $margin-xxxl;
    margin-right: $margin-l;
    width: (0.8 * 0.7) * 100%;
    background-color: white;
    margin-top: -4px;
    margin-bottom: -4px;
}

.catalogLeftBackground {
    position: absolute;
    width: 100%;
    background-color: $catalog-color;
    z-index: $catalog-background-left-z-index;
    border-bottom: solid 1px $dark-neutral-background-color;
}

.catalogRightBackground {
    z-index: $catalog-background-right-z-index;
    position: absolute;
    width: 75%;
    left: 25.5%;
    background-color: white;
    border-bottom: solid 1px $dark-neutral-background-color;
}

@media screen and (max-width: $max-width-xxl) {
    .body {
        width: 100%;
    }
}

@media screen and (max-width: $max-width-xl) {
    .body {
        padding: 0;
        flex-direction: column;
        gap: $gap-xs;
    }

    .logoBlock {
        order: -2;
        margin: 0;
    }

    .menu {
        position: fixed;
        bottom: 0;
        background-color: $light-color;
        width: 100%;
        justify-content: center;
        z-index: 1001;
    }

    .searchBlock {
        order: -1;
        margin: $margin-xxs auto auto;
    }

    .catalogBlock {
        width: 100%;
        margin-right: 0;
    }

    .menuItemCounter {
        position: fixed;
        bottom: 25px;
    }
}

@media screen and (max-width: $max-width-m) {
    .catalogListSubcategories {
        margin-left: $margin-xxl;
        column-count: 3;
    }
}

@media screen and (max-width: $max-width-s) {
    .catalogListSubcategories {
        margin-left: $margin-l;
        margin-right: 0;
        width: 80%;
        column-count: 1;
    }
}
