@import "../../../constants";

%text-shared {
  font-family: var(--font);
  font-size: var(--font-size-s);
}

.text {
  @extend %text-shared;
}

.title {
  @extend %text-shared;
  font-size: var(--font-size-xxl);
  font-weight: var(--bold-font);
}

.big {
  @extend %text-shared;
  font-size: var(--font-size-m);
}

.bigButton {
  @extend %text-shared;
  font-size: var(--font-size-m);
  color: var(--light-color);
}

.smallTitle {
  @extend %text-shared;
  font-size: var(--font-size-l);
  font-weight: var(--bold-font);
}

.orderDiscount {
  @extend %text-shared;
  font-size: var(--font-size-m);
  color: var(--discout-color);
}

.orderPrice {
  @extend %text-shared;
  font-size: var(--font-size-m);
  font-weight: var(--bold-font);
}

.bold {
  @extend %text-shared;
  font-size: var(--font-size-m);
  font-weight: var(--bold-font);
}

.oldPrice {
  @extend %text-shared;
  font-size: var(--font-size-m);
  color: var(--old-price-color);
  text-decoration: line-through;
}

.input {
  @extend %text-shared;
  font-size: var(--font-size-m);
}

.menuCounter {
  @extend %text-shared;
  color: var(--light-color);
}

.rules {
  @extend %text-shared;
  color: var(--neutral-color);
}

.light {
  @extend %text-shared;
  color: var(--light-color);
}

.productDiscount {
  @extend %text-shared;
  font-size: var(--font-size-xxl);
  font-weight: var(--bold-font);
  color: var(--discout-color);
}

.increment, .decrement, .change {
  @extend %text-shared;
  font-size: var(--font-size-m);
  color: var(--colored-object-color);
}

.profile {
  @extend %text-shared;
  color: var(--neutral-color);
}

.profileInput {
  @extend %text-shared;
  font-size: var(--font-size-m);
}
