.form-body__input-block {
    width: 383px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 14px;

    border-radius: 10px;
    border: 0 none;
    outline: none;
    opacity: 0.6;

    font-family: Nunito;
    font-size: 16px;
    color: #454545;
    background: rgb(223, 222, 222);
}

.form-body__input-block:focus {
    border: 2px solid #0080FF;
}
