@import '../Blind/Blind.css';
@import '../Popup/Popup.css';

.form-header {
    display: flex;
    width: 557px;
    height: 106px;
    padding-left: 97px;
    padding-top: 73px;
}

.form-header__head-item {
    margin-right: 84px;
}

.form-header__head-item.text {
    width: 187px;
    height: 52px;
    cursor: pointer;
    font-family: Raleway;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
}

.form-body {
    width: 557px;
    height: 280px;
}

.line_form-header {
    position: absolute;
    border-bottom: 3px solid rgba(64,191,255,1);
}

.line_form-header_login {
    margin-top: 60px;
    margin-left: 270px;
    width: 65px;
}

.line_form-header_signup {
    margin-top: 60px;
    margin-left: 10px;
    width: 150px;
}

.form-header__error-div {
    color: red;
    margin-left: 200px;
    margin-top: -1%;
}