@import '../Blind/Blind.css';
@import '../Popup/Popup.css';
@import '../../../constants.scss';

.body {
    display: flex;
    flex-direction: column;
    margin: var(--margin-xl);
    gap: var(--gap-s);
    width: 80%;
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
}

.wrapper {
    display: flex;
    width: 100%;
}

.button {
    display: flex;
    background: var(--colored-object-color);
    border-radius: var(--standart-border-radius);
    border: none;
    height: var(--height-xs);
    cursor: pointer;
    outline: none;
}

.button:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.buttonText {
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--light-color);
    margin: auto;
}

.inputWrapper {
    height: var(--height-xxs);
    width: 100%;
}

.input {
    height: 100%;
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-size-m);
    border-radius: var(--standart-border-radius);
    border: solid 1px;
    border-color: var(--input-color);
}

.fieldName {
    font-family: var(--font);
    font-size: var(--font-size-m);
}

.signup {
    margin: auto;
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--colored-object-color);
    cursor: pointer;
}
