@import '../../../constants.css';

.body {
    display: flex;
    flex-direction: column;
    margin: var(--margin-xl);
    gap: var(--gap-s);
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
}

.wrapper {
    display: flex;
}

.button {
    display: flex;
    border-radius: var(--standart-border-radius);
    height: var(--height-xs);
}

.buttonText {
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--light-color);
    margin: auto;
}

.inputWrapper {
    height: var(--height-xxs);
    width: var(--width-l);
}

.input {
    height: 100%;
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-size-m);
    border-radius: var(--standart-border-radius);
    border: solid 1px;
    border-color: var(--input-color);
}

.fieldName {
    font-family: var(--font);
    font-size: var(--font-size-m);
}

.signup {
    margin: auto;
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--colored-object-color);
    cursor: pointer;
}
