.rating_item {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 124px;
    height: 15px;
}

.item-rating-star {
    margin: auto;
    width: 15px;
    height: 15px;
}

.item-rating-star_yellowgreen {
    background: yellowgreen;
}

.item-rating-star_gray {
    background: gray;
}
