<div class="rating rating_{{ratingObject}}">
    {{#for minRatingValue ratingValue 1}}
        <div class="item-rating-star item-rating-star_yellowgreen">
            <img src="" alt="" class="">
        </div>
    {{/for}}
    {{#for ratingValue maxRatingValue 1}}
        <div class="item-rating-star item-rating-star_gray">
            <img src="" alt="" class="">
        </div>
    {{/for}}
</div>