@import '../../constants.scss';

.block {
    width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.body {
    display: flex;
    max-width: 60%;
    margin: auto;
    width: 100%;
    flex-direction: column;
    gap: var(--gap-xl);
}

.description {
    display: flex;
    flex-direction: column;
}

.productWrapper {
    display: flex;
    flex-direction: row;
}

.notice {
    display: flex;
    flex-direction: row;
}

.rating {
    display: flex;
    flex-direction: column;
}

.stars {
    display: flex;
    flex-direction: row;
}

.star {
    height: var(--height-xxxs);
}

.impressions {
    display: flex;
    flex-direction: column;
}

.signature {
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    flex-direction: row;
}

.submitButton {
    height: var(--height-xs);
    width: 192px;
    background: var(--colored-object-color);
    border-radius: var(--standart-border-radius);
    border: none;
    margin: auto;
    cursor: pointer;
    outline: none;
}

.submitButton:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.title {
    font-size: var(--font-size-xxl);
    font-weight: var(--bold-font);
    font-family: var(--font);
}

.href {
    cursor: pointer;
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--colored-object-color);
}

.productImg {
    height: var(--width-xs);
    width: var(--width-xs);
}

.name {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
    margin-bottom: auto;
    margin-top: auto;
}

.noticeText {
    width: 504px;
    height: 36px;
}

.text {
    font-family: var(--font);
    font-size: var(--font-size-l);
}

.bold {
    font-weight: var(--bold-font);
}

.buttonText {
    color: var(--light-color);
}
