<div class="{{styles.body}}">
    <div class="{{styles.text}}">
        <img src="https://duckluckmarket.hb.bizmrg.com/svg/ok.svg" class="{{styles.img}}" alt="">
        <span class="{{textStyles.title}}">Ваш отзыв успешно <br> оставлен</span>
    </div>
</div>
