@import "../../../constants.css";

.button {
    border: none;
    cursor: pointer;
    outline: none;
}

.transparent {
    background-color: inherit;
}

.catalog {
    min-height: 40px;
    min-width: 120px;
    background: var(--colored-object-color);
    cursor: pointer;
    color: var(--light-color)5;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}

.catalog:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.search {
    min-width: 76px;
    min-height: 40px;
    background: var(--colored-object-color);
    cursor: pointer;
    color: var(--light-color);
    border: none;
    display: flex;
    outline: none;
}
