@import "../../../constants";

$colors: (
    main-color: (
        common: var(--colored-object-color),
        hover: var(--dark-colored-object-color),
    ),
    order-color: (
        common: var(--order-color),
        hover: var(--dark-order-color),
    )
);

@each $key, $data in $colors {
    %#{$key} {
        background: map-get($data, common);
    }
    %#{$key}:hover {
        background: map-get($data, hover);
    }
}

%button-shared {
    cursor: pointer;
    border: none;
    border-radius: var(--standart-border-radius);
    outline: none;
}

%button-shared:hover {
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.button {
    @extend %button-shared;
}

.catalog {
    @extend %button-shared;
    @extend %main-color;
    min-height: 40px;
    min-width: 120px;
    color: var(--light-color)5;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}

.search {
    @extend %button-shared;
    @extend %main-color;
    min-width: 76px;
    min-height: 40px;
    color: var(--light-color);
    display: flex;
}

.order {
    @extend %button-shared;
    @extend %order-color;
    width: 89.84%;
    height: var(--height-s);
    margin: var(--margin-m) auto auto;
}
