.button_login {
    width: 338px;
    height: 70px;
    margin-left: 110px;
    margin-top: 43px;

    background: rgba(51,160,255,1);
    border-radius: 10px;
    border: 0 none;

    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Nunito;

    cursor: pointer;
}