@import "../../../constants";

$colors: (
    main-color: (
        common: var(--colored-object-color),
        hover: var(--dark-colored-object-color),
    ),
    order-color: (
        common: var(--order-color),
        hover: var(--dark-order-color),
    ),
    inherit-color: (
        common: inherit,
        hover: var(--neutral-background-color),
    ),
    in-cart-color: (
        common: var(--order-color),
        hover: var(--dark-order-color),
    ),
    not-in-cart-color: (
        common: var(--colored-object-color),
        hover: var(--dark-colored-object-color),
    )
);

@each $key, $data in $colors {
    %#{$key} {
        background-color: map-get($data, common);
    }
    %#{$key}:hover {
        background-color: map-get($data, hover);
    }
}

%button-shared {
    cursor: pointer;
    border: none;
    border-radius: var(--standart-border-radius);
    outline: none;
    width: 100%;
    height: 100%;
}

%button-shared:hover {
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.button {
    @extend %button-shared;
}

.catalog {
    @extend %button-shared;
    @extend %main-color;
    color: var(--light-color)5;
    font-size: 16px;
    font-weight: 700;
}

.search {
    @extend %button-shared;
    @extend %main-color;
    color: var(--light-color);
    display: flex;
}

.order {
    @extend %button-shared;
    @extend %order-color;
}

.increment, .decrement {
    @extend %button-shared;
    @extend %inherit-color;
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--colored-object-color);
}

.auth {
    @extend %button-shared;
    @extend %main-color;
    display: flex;
    height: var(--height-xs);
}

.inCart {
    @extend %button-shared;
    @extend %in-cart-color;
    display: flex;
    height: var(--height-xxxs);
    width: var(--width-s);
    position: absolute;
    bottom: 0;
}

.notInCart {
    @extend %button-shared;
    @extend %not-in-cart-color;
    display: flex;
    height: var(--height-xxxs);
    width: var(--width-s);
    position: absolute;
    bottom: 0;
}

.inCartBig {
    @extend %button-shared;
    @extend %in-cart-color;
    height: var(--height-s);
    width: 86%;
    margin: auto;
}

.notInCartBig {
    @extend %button-shared;
    @extend %not-in-cart-color;
    height: var(--height-s);
    width: 86%;
    margin: auto;
}

.review {
    @extend %button-shared;
    @extend %main-color;
    height: var(--height-s);
    width: 86%;
    margin: auto;
}
