@import '../../constants.css';

.cartWrapper {
    background: var(--neutral-background-color);
    width: 100%;
    height: 100%;
}

.body {
    max-width: var(--max-width);
    padding: var(--padding-xs) var(--padding-l);
    margin: var(--margin-l) auto 0;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
}

.titleText {
    font-family: var(--font);
    font-size: var(--font-size-xxl);
    font-weight: var(--bold-font);
}

.mainWrapper {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    background: white;
    width: 935px;
    border-radius: var(--lower-border-radius);
}

.selectMenu {
    display: flex;
    flex-direction: row;
    background: white;
    max-width: var(--max-width);
    padding: var(--padding-xs) var(--padding-l);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    border-bottom: solid 1px;
    height: var(--height-xs);
    gap: var(--gap-xxs);
}

.selectAll {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xxs);
}

.selectAllText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    margin-top: auto;
    margin-bottom: auto;
}

.deleteSelectedText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    margin-top: auto;
    margin-bottom: auto;
    color: var(--discout-color);
}

.deliveryBlock {
    width: var(--width-xxxxl);
    height: var(--height-m);
    background: var(--neutral-background-color);
    margin: var(--margin-s);
    display: flex;
    border-radius: var(--standart-border-radius);
}

.deliveryText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    margin: var(--margin-s);
}

.image {
    width: var(--height-l);
    height: var(--height-l);
}

.productImage {
    height: 100%;
}

.productsListElem {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xs) var(--padding-l);
    border-bottom: solid 1px;
    border-color: var(--neutral-background-color);
}

.description {
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

.productMenuText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--colored-object-color);
}

.priceInfo {
    display: flex;
    flex-direction: column;
}

.countButton {
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--colored-object-color);
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.orderMenu {
    width: var(--width-xxxl);
    height: var(--height-xxxl);
    background: white;
    border-radius: var(--lower-border-radius);
    display: flex;
    flex-direction: column;
}

.orderButton {
    margin: auto;
    width: var(--width-xxl);
    height: var(--height-s);
    border-radius: var(--standart-border-radius);
    border: none;
    background: #3ac267;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.orderSubmit {
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--light-color);
}

.orderButtonWrapper {
    display: flex;
    width: var(--width-xxxl);
    height: var(--height-xl);
    border-bottom: solid 1px;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: var(--width-xxxl);
}

.orderInfoTitle {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
    margin-left: var(--margin-m);
}

.orderInfoText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    margin-left: var(--margin-m);
}

.orderInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    margin-top: var(--margin-m);
}

.orderInfoBody {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.totalPriceBlock {
    border-top: 1px solid;
    padding-left: var(--padding-m);
    padding-top: var(--padding-s);
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
    padding-right: var(--padding-l);
}

.orderTotalPriceTitle {
    font-family: var(--font);
    font-size: var(--font-size-l);
    font-weight: var(--bold-font);
}

.orderInfoRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
    padding-right: var(--padding-l);
}

.orderInfoDiscount {
    color: var(--discout-color);
}

.discount {
    color: var(--discout-color);
}

.basePrice {
    font-weight: var(--bold-font);
}

.orderInfoPrice {
    font-weight: var(--bold-font);
}

.totalPriceText {
    font-weight: var(--bold-font);
    font-size: var(--font-size-l);
}

.productsList {

}

.input {
    width: 50%;
    font-family: var(--font);
    font-size: var(--font-size-s);
}
