@import '../../constants';

.cartWrapper {
    background: $neutral-background-color;
    width: 100%;
    height: 100%;
}

.body {
    max-width: $max-width;
    padding: $padding-xs $padding-l;
    margin: $margin-l auto 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    margin-top: $margin-l;
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    justify-content: space-between;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    background: white;
    width: 66%;
    border-radius: var(--lower-border-radius);
}

.deliveryBlock {
    height: $height-m;
    background: $neutral-background-color;
    margin: $margin-s auto;
    display: flex;
    border-radius: $standard-border-radius;
    width: 96.57%;
}

.deliveryText {
    margin: $margin-s;
}

.image {
    width: $height-l;
    height: $height-l;
}

.productImage {
    height: 100%;
}

.productsListElem {
    display: flex;
    flex-direction: row;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    align-items: center;
    justify-content: space-between;
    padding: $padding-xs $padding-l;
    border-bottom: solid 1px;
    border-color: $neutral-background-color;
}

.orderMenu {
    width: 32%;
    height: $height-xxxl;
    background: white;
    border-radius: $standard-border-radius;
    display: flex;
    flex-direction: column;
}

.orderButtonWrapper {
    width: 89.84%;
    height: $height-s;
    margin: $margin-m auto auto;
}

.orderButtonBlock {
    display: flex;
    width: 100%;
    height: $height-xl;
    border-bottom: solid 1px;
    flex-direction: column;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: 100%
}

.orderInfoTitle {
    margin-left: $margin-m;
}

.orderInfoText {
    margin-left: $margin-m;
}

.orderInfoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    margin-top: $margin-m;
}

.orderInfoBody {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    width: 100%;
}

.totalPriceBlock {
    border-top: 1px solid;
    padding-left: $padding-m;
    padding-top: $padding-s;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    justify-content: space-between;
    padding-right: $padding-l;
}

.orderInfoRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: $padding-l;
}

.input {
    width: 50%;
    font-family: $font-family;
    font-size: $font-size-s;
}

.rules {
    margin-left: $margin-l;
    margin-right: $margin-l;
    margin-bottom: $margin-l;
}

.promoStatusFailure {
    font-family: $font-family;
    color: $discount-color;
}

.promoStatusSuccess {
    font-family: $font-family;
    color: $dark-order-color;
}
@media screen and (max-width: $max-width-xl){
    .wrapper {
        flex-direction: column;
        gap: $gap-s;
    }

    .cartInfo {
        width: 100%;
    }

    .orderMenu {
        width: 100%;
    }

    .orderButtonWrapper {
        order: 2;
    }
}

@media screen and (max-width: $max-width-l){
    .productsListElem {
        flex-direction: column;
        gap: $gap-xs;
        align-items: flex-start;
    }

    .input {
        width: 100%;
    }
}
