@import '../../constants.scss';

.cartWrapper {
    background: var(--neutral-background-color);
    width: 100%;
    height: 100%;
}

.body {
    max-width: var(--max-width);
    padding: var(--padding-xs) var(--padding-l);
    margin: var(--margin-l) auto 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-l);
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    background: white;
    width: 66%;
    border-radius: var(--lower-border-radius);
}

.deliveryBlock {
    height: var(--height-m);
    background: var(--neutral-background-color);
    margin: var(--margin-s) auto;
    display: flex;
    border-radius: var(--standart-border-radius);
    width: 96.57%;
}

.deliveryText {
    margin: var(--margin-s);
}

.image {
    width: var(--height-l);
    height: var(--height-l);
}

.productImage {
    height: 100%;
}

.productsListElem {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xs) var(--padding-l);
    border-bottom: solid 1px;
    border-color: var(--neutral-background-color);
}

.orderMenu {
    width: 32%;
    height: var(--height-xxxl);
    background: white;
    border-radius: var(--standart-border-radius);
    display: flex;
    flex-direction: column;
}

.orderButtonWrapper {
    width: 89.84%;
    height: var(--height-s);
    margin: var(--margin-m) auto auto;
}

.orderButtonBlock {
    display: flex;
    width: 100%;
    height: var(--height-xl);
    border-bottom: solid 1px;
    flex-direction: column;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: 100%
}

.orderInfoTitle {
    margin-left: var(--margin-m);
}

.orderInfoText {
    margin-left: var(--margin-m);
}

.orderInfoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    margin-top: var(--margin-m);
}

.orderInfoBody {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    width: 100%;
}

.totalPriceBlock {
    border-top: 1px solid;
    padding-left: var(--padding-m);
    padding-top: var(--padding-s);
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
    padding-right: var(--padding-l);
}

.orderInfoRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: var(--padding-l);
}

.input {
    width: 50%;
    font-family: var(--font);
    font-size: var(--font-size-s);
}

.rules {
    margin-left: var(--margin-l);
    margin-right: var(--margin-l);
    margin-bottom: var(--margin-l);
}

.link {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--colored-object-color);
}

@media screen and (max-width: $max-width-xl){
    .wrapper {
        flex-direction: column;
        gap: var(--gap-s);
    }

    .cartInfo {
        width: 100%;
    }

    .orderMenu {
        width: 100%;
    }

    .orderButtonWrapper {
        order: 2;
    }
}

@media screen and (max-width: $max-width-l){
    .productsListElem {
        flex-direction: column;
        gap: var(--gap-xs);
        align-items: flex-start;
    }

    .input {
        width: 100%;
    }
}
