@import '../../constants.scss';

.cartWrapper {
    background: $neutral-background-color;
    width: 100%;
    height: 100%;
}

.body {
    max-width: $max-width;
    padding: 4px 28px;
    margin: $margin-l auto 0;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    margin-top: $margin-l;
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    justify-content: space-between;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--lower-border-radius);
    width: 66%;
}

.selectMenu {
    display: flex;
    flex-direction: row;
    background: white;
    max-width: $max-width;
    padding: $padding-xs $padding-l;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    border-bottom: solid 1px;
    height: $height-xs;
    gap: $gap-xxs;
}

.selectAll {
    display: flex;
    flex-direction: row;
    gap: $gap-xxs;
}

.selectAllText {
    margin-top: auto;
    margin-bottom: auto;
}

.deleteSelectedText {
    margin-top: auto;
    margin-bottom: auto;
    color: $discount-color;
}

.deliveryBlock {
    height: 61px;
    background: $neutral-background-color;
    margin: $margin-s auto;
    display: flex;
    border-radius: $standard-border-radius;
    width: 96.57%;
}

.deliveryText {
    margin: $margin-s;
}

.imageWrapper {
    width: $img-size-m1;
    height: $img-size-m1;
}

.productsListElem {
    display: flex;
    flex-direction: row;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    align-items: center;
    padding: $padding-xs $padding-l;
    border-bottom: solid 1px;
    border-color: $neutral-background-color;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

.productMenu {
    display: flex;
    gap: $gap-s;
}

.productMenuText {
    color: $colored-object-color;
    cursor: pointer;
}

.orderMenu {
    height: 372px;
    background: white;
    border-radius: var(--lower-border-radius);
    display: flex;
    flex-direction: column;
    width: 32%;
}

.orderButtonWrapper {
    width: 89.84%;
    height: $height-s;
    margin: $margin-m auto auto;
}

.orderButtonBlock {
    display: flex;
    width: 100%;
    height: $height-xl;
    border-bottom: solid 1px;
    flex-direction: column;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.orderInfoTitle {
    margin-left: 20px;
}

.orderInfoText {
    margin-left: 20px;
}

.orderInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    margin-top: $margin-m;
}

.orderInfoBody {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
}

.priceBlock {
    width: 30%;
}

.totalPriceBlock {
    border-top: 1px solid;
    padding-left: $padding-m;
    padding-top: $padding-s;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    justify-content: space-between;
    padding-right: $padding-m;
}

.orderInfoRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    justify-content: space-between;
    padding-right: $padding-m;
}

.countField {
    display: flex;
    width: $width-xxxxs;
}

.countMenu {
    display: flex;
}

.count {
    margin: auto;
}

.countButtonWrapper {
    width: $width-xxxxs;
    height: $width-xxxxs;
}

@media screen and (max-width: $max-width-xl){
    .wrapper {
        flex-direction: column;
        gap: $gap-s;
    }

    .cartInfo {
        width: 100%;
    }

    .orderMenu {
        width: 100%;
    }

    .orderButtonWrapper {
        order: 2;
    }
}

@media screen and (max-width: $max-width-l){
    .productsListElem {
        flex-direction: column;
        gap: $gap-xs;
        align-items: flex-start;
    }

    .description {
        width: 100%;
    }

    .priceBlock {
        width: 100%;
    }

    .countMenu {
        width: 100%;
    }
}
