@import '../../constants.scss';

.cartWrapper {
    background: var(--neutral-background-color);
    width: 100%;
    height: 100%;
}

.body {
    max-width: var(--max-width);
    padding: 4px 28px;
    margin: var(--margin-l) auto 0;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-l);
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--lower-border-radius);
    width: 66%;
}

.selectMenu {
    display: flex;
    flex-direction: row;
    background: white;
    max-width: var(--max-width);
    padding: 4px 28px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    border-bottom: solid 1px;
    height: 48px;
    gap: 5px;
}

.selectAll {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.selectAllText {
    margin-top: auto;
    margin-bottom: auto;
}

.deleteSelectedText {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--discout-color);
}

.deliveryBlock {
    height: 61px;
    background: var(--neutral-background-color);
    margin: var(--margin-s) auto;
    display: flex;
    border-radius: var(--standart-border-radius);
    width: 96.57%;
}

.deliveryText {
    margin: var(--margin-s);
}

.image {
    width: 92px;
    height: 92px;
}

.productImage {
    height: 100%;
}

.productsListElem {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    align-items: center;
    padding: 4px 28px;
    border-bottom: solid 1px;
    border-color: var(--neutral-background-color);
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

.productMenuText {
    color: var(--colored-object-color);
    cursor: pointer;
}

.orderMenu {
    height: 372px;
    background: white;
    border-radius: var(--lower-border-radius);
    display: flex;
    flex-direction: column;
    width: 32%;
}

.orderButtonWrapper {
    width: 89.84%;
    height: var(--height-s);
    margin: var(--margin-m) auto auto;
}

.orderButtonBlock {
    display: flex;
    width: 100%;
    height: var(--height-xl);
    border-bottom: solid 1px;
    flex-direction: column;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.orderInfoTitle {
    margin-left: 20px;
}

.orderInfoText {
    margin-left: 20px;
}

.orderInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.orderInfoBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priceBlock {
    width: 30%;
}

.totalPriceBlock {
    border-top: 1px solid;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
    padding-right: 20px;
}

.orderInfoRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font);
    justify-content: space-between;
    padding-right: 20px;
}

.discountPrice {
    color: var(--discout-color);
}

.countField {
    display: flex;
    width: 20px;
}

.countMenu {
    display: flex;
}

.count {
    margin: auto;
}

.countButtonWrapper {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: $max-width-xl){
    .wrapper {
        flex-direction: column;
        gap: var(--gap-s);
    }

    .cartInfo {
        width: 100%;
    }

    .orderMenu {
        width: 100%;
    }

    .orderButtonWrapper {
        order: 2;
    }
}

@media screen and (max-width: $max-width-l){
    .productsListElem {
        flex-direction: column;
        gap: var(--gap-xs);
        align-items: flex-start;
    }

    .description {
        width: 100%;
    }

    .priceBlock {
        width: 100%;
    }

    .countMenu {
        width: 100%;
    }
}
