<div class="signup-block-wrapper" id="signup-block-wrapper">
    <div class="blind"></div>
    <div class="signup-block" id="signup-block">
        <div class="form-header">
            <h1 class="form-header__head-item">
                <a href="" class="link link_weight-h1">
                    <span class="text">Registration</span>
                </a>
            </h1>
            <h1 class="form-header__head-item">
                <a href="" class="link link_weight-h1">
                    <span class="text">Log in</span>
                </a>
            </h1>
            <div class="line line_form-header"></div>
        </div>

        <div class="form-body">
            <form action="">
                {{#each inputFields}}
                    <input type={{this.type}} class="form-body__input-block" id={{this.name}} placeholder={{this.placeholder}}>
                {{/each}}
                <br>
                <button class="button button_auth_submit" type="submit">
                    <span class="text">Register</span>
                </button>
            </form>
        </div>
    </div>
</div>