@import '../../../constants';

.block {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: row;
  transition-duration: 500ms;
  transform: translateX(0);
  gap: $gap-s;
}

.contentWrapper {
  display: block;
  overflow: hidden;
}

.buttonWrapper {
  margin: auto;
  height: 48px;
  width: 48px;
  min-width: 48px;
}

