@import '../../../constants.css';

.popup {
    z-index: 1003;
    left: 50%;
    top: 50%;
    position: fixed;
}

.popup_login, .popup_signup {
    margin-left: -208px;
    margin-top: -168px;
    width: 416px;
    height: 363px;
    border-radius: var(--lower-border-radius);
    background: white;
}

.popup_signup {
    height: 405px;
}
