<div class="popup-wrapper" id="popup-wrapper">
    <div class="popup-background" id="popup-background">
        {{{background}}}
    </div>
    <div class="popup popup_{{popupType}}" id="popup">
        {{{popupBody}}}
    </div>
</div>