<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Reviews.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="block">
        <div class="ratingHeader">
            <div class="starsWrapper">
                <div class="stars">
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="star">
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="star">
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="star">
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="star">
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="star">
                </div>
                <div class="colorStarsWrapper">
                    <div class="color" style="width: 93.3824%;"></div>
                </div>
            </div>
            <div class="ratingNumber">
                <span>4.75 / 5</span>
            </div>
        </div>
        <div class="starsInfo">
            <div class="infoRow">
                <div class="starsNumber">5 звезд</div>
                <div class="countLine">
                    <div class="countColor">
                        <div class="colorLine" style="width: 88.1579%;"></div>
                    </div>
                </div>
                <div class="starsCounter">670</div>
            </div>
            <div class="infoRow">
                <div class="starsNumber">4 звезды</div>
                <div class="countLine">
                    <div class="countColor">
                        <div class="colorLine" style="width: 5.78947%;"></div>
                    </div>
                </div>
                <div class="starsCounter">44</div>
            </div>
            <div class="infoRow">
                <div class="starsNumber">3 звезды</div>
                <div class="countLine">
                    <div class="countColor">
                        <div class="colorLine" style="width: 2.5%;"></div>
                    </div>
                </div>
                <div class="starsCounter">19</div>
            </div>
            <div class="infoRow">
                <div class="starsNumber">2 звезды</div>
                <div class="countLine">
                    <div class="countColor">
                        <div class="colorLine" style="width: 1.31579%;"></div>
                    </div>
                </div>
                <div class="starsCounter">10</div>
            </div>
            <div class="infoRow">
                <div class="starsNumber">1 звезда</div>
                <div class="countLine">
                    <div class="countColor">
                        <div class="colorLine" style="width: 2.23684%;"></div>
                    </div>
                </div>
                <div class="starsCounter">17</div>
            </div>
        </div>
    </div>
</body>
</html>
