@import '../../../../constants.css';

.block {
    display: flex;
    width: var(--img-size-xxl);
    height: 450px;
    flex-direction: column;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.discountBlock {
    border-radius: 3px;
}

.discountBadge {
    height: var(--height-s);
    width: var(--width-m);
    background: var(--discout-color);
    border-radius: var(--lower-border-radius);
    display: flex;
}

.discountText {
    font-family: var(--font);
    font-size: var(--lower-font-size);
    color: var(--light-color);
    margin: auto;
}

.priceBlock {
    display: flex;
    flex-direction: row;
}

.discountPrice {
    font-family: var(--font);
    font-size: var(--standart-font-size);
    font-weight: var(--bold-font);
    color: var(--discout-color);
    margin-left: var(--margin-s);
}

.price {
    font-family: var(--font);
    font-size: var(--lower-font-size);
    margin-left: var(--margin-s);
    position: relative;
}

.strikethrough:before {
    border-bottom: 2px solid var(--discout-color);
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    transform: rotate(-5deg);
}

.name {
    font-family: var(--font);
    font-size: var(--standart-font-size);
    white-space: normal;
}

.rating {
    display: flex;
    flex-direction: row;
    margin-top: var(--margin-m);
}

.cartButton {
    background: var(--colored-object-color);
    display: flex;
    height: var(--height-l);
    width: var(--width-l);
    border-radius: var(--standart-border-radius);
    border: none;
    position: absolute;
    bottom: 0;
}

.buttonText {
    font-family: var(--font);
    font-size: var(--standart-font-size);
    color: var(--light-color);
    margin: auto;
}

.image {
    width: var(--img-size-xxl);
    height: var(--img-size-xxl);
}

.buttonsBlock {
    position: relative;
    height: 100%;
}
