@import '../../../../constants';

.block {
    display: flex;
    width: $img-size-l;
    height: $height-xxxxl;
    flex-direction: column;
    border-top: solid;
    border-color: $neutral-background-color;
    padding-bottom: $padding-s;
    padding-top: $padding-s;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-xxs;
    cursor: pointer;
}

.discountBlock {
    border-radius: $standard-border-radius;
}

.discountBadge {
    height: $height-xxxxs;
    width: $width-xxs;
    background: $discount-color;
    border-radius: var(--lower-border-radius);
    display: flex;
}

.discountText {
    font-family: $font-family;
    font-size: $font-size-s;
    color: $light-color;
    margin: auto;
}

.priceBlock {
    display: flex;
    flex-direction: row;
}

.discountPrice {
    font-family: $font-family;
    font-size: $font-size-m;
    font-weight: $bold;
    color: $discount-color;
    margin-left: $margin-xxs;
}

.price {
    font-family: $font-family;
    font-size: $font-size-s;
    margin-left: $margin-xxs;
    position: relative;
}

.strikethrough:before {
    border-bottom: 2px solid $discount-color;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    transform: rotate(-5deg);
}

.name {
    font-family: $font-family;
    font-size: $font-size-m;
    text-overflow: ellipsis;
    overflow: hidden;
    height: $height-s;
}

.rating {
    display: flex;
    flex-direction: row;
    margin-top: $margin-xs;
    gap: $gap-s;
}

.buttonText {
    font-family: $font-family;
    font-size: $font-size-m;
    color: $light-color;
    margin: auto;
}

.buttonsBlock {
    position: relative;
    height: 100%;
}

.cartButtonWrapper {
    display: flex;
    height: $height-xxxs;
    width: $width-s;
    position: absolute;
    bottom: 0;
}

.starsWrapper {
    width: 80px;
}

.stars {
    overflow: hidden;
    height: 16px;
    background:  url("https://duckluckbreakout.xyz/svg/empty_star.svg");
    background-size: 16px 16px;
    width: 80px;
}

.colorStars {
    background: url("https://duckluckbreakout.xyz/svg/star.svg");
    height: 16px;
    background-size: 16px 16px;
    background-repeat: repeat-x;
}
