@import '../../../../constants.scss';

.block {
    display: flex;
    width: var(--img-size-l);
    height: var(--height-xxxxl);
    flex-direction: column;
    border-top: solid;
    border-color: var(--neutral-background-color);
    padding-bottom: var(--padding-s);
    padding-top: var(--padding-s);
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
    cursor: pointer;
}

.discountBlock {
    border-radius: var(--standart-border-radius);
}

.discountBadge {
    height: var(--height-xxxxs);
    width: var(--width-xxs);
    background: var(--discout-color);
    border-radius: var(--lower-border-radius);
    display: flex;
}

.discountText {
    font-family: var(--font);
    font-size: var(--font-size-s);
    color: var(--light-color);
    margin: auto;
}

.priceBlock {
    display: flex;
    flex-direction: row;
}

.discountPrice {
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--bold-font);
    color: var(--discout-color);
    margin-left: var(--margin-xxs);
}

.price {
    font-family: var(--font);
    font-size: var(--font-size-s);
    margin-left: var(--margin-xxs);
    position: relative;
}

.strikethrough:before {
    border-bottom: 2px solid var(--discout-color);
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    transform: rotate(-5deg);
}

.name {
    font-family: var(--font);
    font-size: var(--font-size-m);
    text-overflow: ellipsis;
    overflow: hidden;
    height: var(--height-s);
}

.rating {
    display: flex;
    flex-direction: row;
    margin-top: var(--margin-xs);
}

.ratingCount {
    margin-top: var(--margin-xxs);
    font-family: var(--font);
    font-size: var(--font-size-m);
}

.inCartButton {
    background: var(--order-color);
    display: flex;
    height: var(--height-xxxs);
    width: var(--width-s);
    border-radius: var(--standart-border-radius);
    border: none;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    outline: none;
}

.inCartButton:hover {
    background: var(--dark-order-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.notInCartButton {
    background: var(--colored-object-color);
    display: flex;
    height: var(--height-xxxs);
    width: var(--width-s);
    border-radius: var(--standart-border-radius);
    border: none;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    outline: none;
}

.notInCartButton:hover {
    background: var(--dark-colored-object-color);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

.buttonText {
    font-family: var(--font);
    font-size: var(--font-size-m);
    color: var(--light-color);
    margin: auto;
}

.image {
    width: var(--img-size-l);
    height: var(--img-size-l);
}

.buttonsBlock {
    position: relative;
    height: 100%;
}
