@import 'views/ProfilePage/ProfilePage.css';
@import 'views/Common/Input/Input.css';
@import 'views/Common/Button/Button.css';
@import 'views/Common/Link/Link.css';
@import 'views/Common/AuthenticationForm/AuthenticationForm.css';

a, input {
    display: block;
}

img {
    width: 300px;
    display: block;
}
